@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="page-footer footer footer-static footer-dark  gradient-shadow navbar-border navbar-shadow" style="background-color:#69a3b9">
    <div class="footer-copyright">
        <div class="container"><span class="right hide-on-small-only">Kadir Berat Güventürk &copy; 2024          <a asp-action="Dashboard" asp-controller="Home" target="_blank">EATS</a></span></div>
    </div>
</footer>
