
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

<title>EATS - @ViewData["Title"]</title>
<link rel="icon" href="~/favicon.ico" sizes="32x16" type="image/vnd">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- BEGIN: VENDOR CSS-->
<link rel="stylesheet" type="text/css" href="~/lib/vendors/vendors.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/vendors/animate-css/animate.css">
<link rel="stylesheet" type="text/css" href="~/lib/vendors/chartist-js/chartist.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/vendors/chartist-js/chartist-plugin-tooltip.css">

<link rel="stylesheet" type="text/css" href="~/lib/vendors/flag-icon/css/flag-icon.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/vendors/data-tables/css/select.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="~/lib/vendors/sweetalert/sweetalert.css">


<!-- END: VENDOR CSS-->
<!-- BEGIN: Page Level CSS-->
<link rel="stylesheet" type="text/css" href="~/css/themes/vertical-modern-menu-template/materialize.min.css">
<link rel="stylesheet" type="text/css" href="~/css/themes/vertical-modern-menu-template/style.min.css">


<link rel="stylesheet" type="text/css" href="~/css/pages/dashboard-modern.css">
<link rel="stylesheet" type="text/css" href="~/css/pages/intro.min.css">

<link rel="stylesheet" type="text/css" href="~/css/pages/data-tables.min.css">

<!-- END: Page Level CSS-->
<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="~/css/custom/custom.css">
<!-- END: Custom CSS-->
<link href="~/css/toastr.min.css" rel="stylesheet" />

<link href="~/css/custom-btn.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="~/css/pages/page-search.min.css">

<script src="~/lib/ckeditor/ckeditor.js"></script>
<!--DT-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">



